packages/
*.nupkg
*.suo
*.userprefs
*.user
ReactiveUI.Fody/obj/
ReactiveUI.Fody/bin/
ReactiveUI.Fody.Helpers.Net45/obj/
ReactiveUI.Fody.Helpers.Net45/bin/
ReactiveUI.Fody.Helpers.Ios/bin/
ReactiveUI.Fody.Helpers.Ios/obj/
ReactiveUI.Fody.Helpers.Android/bin/
ReactiveUI.Fody.Helpers.Android/obj/
Nuget/ReactiveUI.Fody.1.0.26/
ReactiveUI.Fody.1.0.26/
ReactiveUI.Fody.Helpers.Pcl/obj/
ReactiveUI.Fody.Helpers.Pcl/bin/
ReactiveUI.Fody.Tests/bin/
ReactiveUI.Fody.Tests/obj/
Weavers/bin/Weavers.dll
Weavers/bin/Weavers.pdb
_ReSharper.Caches